#grid-container{
  display: grid;
  grid-template-areas:
          "header header header header"
          "main main main main"
          "footer footer footer footer";
  grid-gap: 15px;
}

header{
  grid-area: header;
  text-align: center;
}

#main-container{
  grid-area: main;
}

#travel-info{
  display: flex;
  flex-basis: available;
  flex-direction: column;
  align-items: center;

  #travel-form{
    margin-top: 2rem;
  }

  .travel-form-field-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .travel-form-field-container-label{
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  #submit-trip-button{
    margin-top: 1rem;
  }

  .weather-header{
    margin-top: 1rem;
  }
}

.travel-image{
  width: 100%;
  height: auto;
}

footer {
  margin-top: 2rem;
  grid-area: footer;
  text-align: center;
}
