$primary-bg: #310B0B;
$primary: #EEB76B;
$secondary-bg: #9C3D54;
$secondary-bg-light: #c6667d;
$secondary: #E2703A;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-bg;
    color: $primary;
}

input {
    background-color: $secondary-bg;
    color: $secondary;
    padding: 10px 20px;
    outline: none;
    border-radius: 20px;
    border: none;

    &:hover{
        background-color: $secondary-bg-light;
    }

    &:focus{
        color: $secondary-bg;
        background-color: $secondary;
    }
}
